In [22]:
%load_ext autoreload
%autoreload 2
import time
from scipy.stats import pearsonr, spearmanr
from igraph import Graph
from dataset import Dataset, SentenceDataset, map_name
import networkx as nx 
import numpy as np 
from analytics import DiGraph, DAC
from connection import sparql_request
import sparql
from evaluation import WordSimEvaluation, SentenceSimEvaluation
from similarity import ConceptSimilarity
from wmd import WordMoversSimilarity
from preprocessing import get_ideas_in_format

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
DS = Dataset()
sentenceDS = SentenceDataset()

In [24]:
senEval = SentenceSimEvaluation()
wordEval = WordSimEvaluation()
metrics = ["path", "wpath_graph", "res", "lin", "jcn"]

In [27]:
wordEval.evaluate_multiple_metrics(metrics, wordEval.dataset_names[3], ic_func="ic_graph_global", k=0.9, 
                                   relatedness=True, display_table=True, save_results=True)

done calculation all shortest distance

                 path  wpath_graph    res    lin    jcn
noun_ws353-sim  0.635        0.653  0.533  0.565  0.519

In [4]:

wordEval.evaluate_datasets_metrics(metrics, wordEval.dataset_names, ic_func="ic_graph_global", k=0.9, relatedness=True, display_table=True, save_results=True)

done calculation all shortest distance
done calculation all shortest distance
done calculation all shortest distance
done calculation all shortest distance
done calculation all shortest distance

             noun_rg  noun_mc  ws353  noun_ws353-sim  noun_simlex
path           0.805    0.908  0.361           0.643        0.420
wpath_graph    0.811    0.904  0.370           0.665        0.425
res            0.739    0.823  0.364           0.527        0.283
lin            0.789    0.871  0.368           0.586        0.334
jcn            0.804    0.873  0.280           0.540        0.361

In [5]:
wordEval.evaluate_datasets_wpath_k("wpath_graph", wordEval.dataset_names, display_table=True, ic_func="ic_graph_global", relatedness=True)

       noun_rg  noun_mc  ws353  noun_ws353-sim  noun_simlex
k=0.1    0.670    0.768  0.322           0.528        0.311
k=0.2    0.721    0.827  0.334           0.554        0.323
k=0.3    0.730    0.841  0.356           0.595        0.340
k=0.4    0.744    0.833  0.359           0.615        0.342
k=0.5    0.781    0.844  0.358           0.620        0.354
k=0.6    0.796    0.862  0.357           0.629        0.368
k=0.7    0.798    0.859  0.355           0.637        0.384
k=0.8    0.804    0.875  0.359           0.650        0.399
k=0.9    0.811    0.904  0.370           0.665        0.425
k=1.0    0.805    0.908  0.361           0.643        0.420

In [6]:
wordEval.evaluate_datasets_wpath_k("wpath_graph", wordEval.dataset_names, display_table=True, ic_func="ic_graph_global", relatedness=True)

       noun_rg  noun_mc  ws353  noun_ws353-sim  noun_simlex
k=0.1    0.670    0.768  0.322           0.528        0.311
k=0.2    0.721    0.827  0.334           0.554        0.323
k=0.3    0.730    0.841  0.356           0.595        0.340
k=0.4    0.744    0.833  0.359           0.615        0.342
k=0.5    0.781    0.844  0.358           0.620        0.354
k=0.6    0.796    0.862  0.357           0.629        0.368
k=0.7    0.798    0.859  0.355           0.637        0.384
k=0.8    0.804    0.875  0.359           0.650        0.399
k=0.9    0.811    0.904  0.370           0.665        0.425
k=1.0    0.805    0.908  0.361           0.643        0.420

In [95]:
range_k = [k/100 for k in range(80, 101, 2)]
print(range_k)
wordEval.evaluate_datasets_wpath_k("wpath_graph", 
                                   wordEval.dataset_names, display_table=True, 
                                   ic_func="ic_graph_global", 
                                   relatedness=True, range_k=range_k)

[0.8, 0.82, 0.84, 0.86, 0.88, 0.9, 0.92, 0.94, 0.96, 0.98, 1.0]

        noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
k=0.8     0.797    0.876       0.355           0.650        0.401
k=0.82    0.803    0.884       0.356           0.653        0.406
k=0.84    0.799    0.890       0.355           0.653        0.410
k=0.86    0.801    0.895       0.354           0.654        0.414
k=0.88    0.802    0.895       0.358           0.656        0.418
k=0.9     0.802    0.904       0.361           0.662        0.422
k=0.92    0.802    0.905       0.363           0.668        0.424
k=0.94    0.799    0.906       0.359           0.667        0.423
k=0.96    0.802    0.905       0.358           0.670        0.421
k=0.98    0.804    0.905       0.355           0.665        0.415
k=1.0     0.795    0.908       0.335           0.644        0.418

In [70]:
range_k = [k/100 for k in range(90, 101, 2)]
print(range_k)
wordEval.evaluate_datasets_wpath_k("wpath_graph", 
                                   wordEval.dataset_names, display_table=True, 
                                   ic_func="ic_graph_global",lcs_pref_value="freq1", 
                                   relatedness=True, range_k=range_k)

[0.9, 0.92, 0.94, 0.96, 0.98, 1.0]

        noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
k=0.9     0.773    0.882       0.368           0.671        0.414
k=0.92    0.776    0.888       0.370           0.669        0.423
k=0.94    0.781    0.899       0.375           0.665        0.431
k=0.96    0.788    0.902       0.373           0.652        0.437
k=0.98    0.788    0.901       0.377           0.643        0.437
k=1.0     0.788    0.896       0.365           0.616        0.439

In [94]:
wordEval.evaluate_metric("wpath_graph", "noun_mc", ic_func="ic_graph_global", relatedness=True, save_results=True, k=0.9)

0.904

In [74]:
wordEval.evaluate_datasets_metrics(metrics, wordEval.dataset_names, ic_func="ic_graph_global", k=0.9, relatedness=True, lcs_pref_value="freq1", display_table=True)

             noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
path           0.788    0.896       0.365           0.616        0.439
wpath_graph    0.773    0.882       0.368           0.671        0.414
res            0.584    0.700       0.309           0.497        0.197
lin            0.720    0.821       0.338           0.613        0.261
jcn            0.769    0.850       0.308           0.610        0.310

In [7]:
wordEval.evaluate_datasets_metrics(metrics, wordEval.dataset_names, ic_func="ic_graph_global", k=0.9, relatedness=True, lcs_pref_value="freq1", display_table=True)

done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1
done calculation all shortest distance for: freq1

             noun_rg  noun_mc  ws353  noun_ws353-sim  noun_simlex
path           0.793    0.892  0.363           0.607        0.460
wpath_graph    0.781    0.875  0.364           0.649        0.426
res            0.591    0.693  0.274           0.482        0.170
lin            0.710    0.809  0.315           0.588        0.257
jcn            0.753    0.835  0.308           0.585        0.311

In [13]:
wordEval.evaluate_datasets_metrics(metrics, wordEval.dataset_names, ic_func="ic_graph_local", k=0.9, relatedness=True, display_table=True)

             noun_rg  noun_mc  noun_ws353  noun_ws353-sim  noun_simlex
path           0.799    0.908       0.330           0.645        0.415
wpath_graph    0.799    0.898       0.357           0.679        0.426
res            0.713    0.811       0.371           0.571        0.310
lin            0.766    0.845       0.354           0.592        0.358
jcn            0.781    0.871       0.291           0.557        0.394

In [11]:
wordEval.evaluate_multiple_metrics(metrics, wordEval.dataset_names[4], ic_func="ic_graph_global", k=0.9, display_table=True, save_results=True)

done calculation all shortest distance

              path  wpath_graph    res    lin    jcn
noun_simlex  0.408        0.393  0.278  0.339  0.343

In [4]:
senEval.evaluate_all_sentence_datasets(relatedness=True)

done calculation all shortest distance for: freq1
Percent: 99.87%done calculation all shortest distance for: freq1
Percent: 99.61%done calculation all shortest distance for: freq1
Percent: 99.6%%done calculation all shortest distance for: freq1
Percent: 99.6%%

         MSRvid  SmartTextile     MTurk  environment
wpath  0.584889      0.468947  0.157106     0.157292

In [ ]:
senEval.evaluate_all_sentence_datasets(relatedness=True)

In [5]:
import pandas as pd

In [76]:

mc_wpath_obj = pd.read_json("dataset/wordsim/results/noun_mc_wpath_graph_freq1.json")

In [77]:
sim = mc_wpath_obj["similarities"]
zeile = list(map(lambda z: (*z[1][:2], round(z[1][2], 2) , round(4*z[0],2), z[2]),sim))

In [78]:
csv = pd.DataFrame(data=zeile, columns=["wordone", "wordtwo", "mean", "wpath", "LCS"])

In [82]:
csv.to_csv("dataset/wordsim/results-csv/noun_mc_wpath_graph_k09_freq1.csv")

In [80]:
csv

     wordone     wordtwo  mean  wpath                   LCS
0        car  automobile  3.92   4.00                   car
1        gem       jewel  3.84   4.00              gemstone
2    journey      voyage  3.84   2.00                travel
3        boy         lad  3.76   4.00                   boy
4      coast       shore  3.70   4.00                  bank
5     asylum    madhouse  3.61   4.00  psychiatric hospital
6   magician      wizard  3.50   4.00   magician in fantasy
7     midday        noon  3.42   4.00                  noon
8    furnace       stove  3.11   2.00                 stove
9       food       fruit  3.08   2.00                  food
10      bird        cock  3.05   2.00         heraldic bird
11      bird       crane  2.97   1.00                  bird
12      tool   implement  2.95   4.00                  tool
13   brother        monk  2.82   2.00                  monk
14       lad     brother  1.66   1.33            male human
15     crane   implement  1.68   1.33                  tool
16   journey         car  1.16   2.00                travel
17      monk      oracle  1.10   1.00            occupation
18  cemetery    woodland  0.95   0.50    territorial entity
19      food     rooster  0.89   0.44                fodder
20     coast        hill  0.87   1.33              landform
21    forest   graveyard  0.84   0.44    territorial entity
22     shore    woodland  0.63   0.67   geographical object
23      monk       slave  0.55   0.57          social class
24     coast      forest  0.42   0.50      human settlement
25       lad      wizard  0.42   0.67                person
26     chord       smile  0.13   0.44              art form
27     glass    magician  0.11   0.50                 agent
28   rooster      voyage  0.08   0.36                motion
29      noon      string  0.01   0.40                 goods